#content_middle {
    background-color: #d9d2c2;
    min-height: 960px;
    height: auto;
    min-width: 598px;
    
    .title_content {
        background: url('../img/titleContent.png') no-repeat;
        width: 563px;
        height: 39px;
        margin: 8px auto;
        font-family: Verdana;
        color: #3b362a;
        font-size: 18px;
        line-height: 39px;
        text-shadow: 1px 1px 1px rgba(164, 165, 139, 0.5);
        font-weight: 400;
        padding-left: 67px;
    }
}