$on : #008000;
$off : #ff0000;

/*** NAVBAR LEFT ***/

$borderBlack: #030303;
$BorderGrey: #3a3a3a;
$greenText: #687e00;
$greenBackground: #374401;
$greenBorder: #171c00;


body {
    background: url('../img/background.png') no-repeat #09414c center 38px;
    font-family: Arial, Verdana, Sans-serif;
    font-size: 14px;
    color: #1d1812;
}

#container {
    width: 940px;
    margin: 323px auto 60px auto;
    display: flex;
    border: 3px solid #042126;
    border-radius: 3px;
}
