* {margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none;}

body {
    background: url('../img/background.png') no-repeat #09414c center 38px;
    font-family: Verdana, Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1d1812;
}

#container {
    width: 940px;
    margin: 360px auto 0 auto;
    display: flex;
    border: 3px solid #042126;
    border-radius: 3px;
}